.svg {
  color: #837e9f;
} 
.App {
  
  display: flex;
  justify-content: space-between;
  
  
}
@media screen and (min-width: 768px){
  .my-projects{
    margin-left: 2rem;
    width:  72vw;
  }
  .App{
    display: flex;
    
  
  }
  .coluna{
    width: 28vw;
    
  }
  
}

  

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .boxProjects{
    margin-top:2rem ;

  }
}