.svg {
  color: #837e9f;
} 
.App {
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  background: #22212c;
  min-height: 100vh;
}
@media screen and (min-width: 1280px){
  .my-projects{
    margin-left: 2rem;
    width:  75vw;
  }
  .App{
    display: flex;
  
  }
  .coluna{
    width: 25vw;
  
  }
  
}

  

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }
  .boxProjects{
    margin-top:2rem ;

  }
}