* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  
}
:root {
  padding: 2rem;
  background: #22212c;
  min-height: 100vh;
  --cor-letras: #837e9f;
  --cor-tech: #cb92b1;
}
p {
  margin: 15px 0;
}
span {
  margin: 0 10px;
}
p,
span {
  font-size: 14px;
  font-weight: 400;
}